.footerMain{
    position: absolute;
    background-color: #006E90;
    display: flex;
    z-index: 20;
    align-items: center;
    justify-content: space-between;
    padding: clamp(0.5rem, 0rem + 2.222vw, 2rem);

    h2{
       font-size: clamp(0.8rem, 0.233rem + 2.519vw, 2.5rem);
       font-weight: 900;
       width: 45%;
       position: relative;
       text-align: center;
    }

    ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style: none;
        width: 55%;
        margin-right: clamp(0.5rem, 0rem + 2.222vw, 2rem);

        li{
            a{
                text-decoration: none;
                color: #000000;
                font-size: clamp(0.8rem, 0.233rem + 2.519vw, 2.5rem);
                font-weight: 900;
            }
        }

        .aboutTitle{
            color: white;
        }

        .resumeTitle{
            color: white;
        }

        .projectsTitle{
            color: white;
        }
    }
}