.headerMain {
    display: flex;
    width: auto;
    justify-content: space-between;
    color: #006E90;
    margin-left: clamp(0.8rem, 0.667rem + 0.593vw, 1.2rem);
    margin-right: clamp(0.8rem, 0.667rem + 0.593vw, 1.2rem);

    div{
        font-size: clamp(4rem, 3.667rem + 1.481vw, 5rem);
    }

    ul{
        font-size: clamp(1.2rem, 1.1rem + 0.444vw, 1.5rem);
        font-weight: 800;
        list-style: none;
        color: #686868;
        text-align: right;

        li{
            a{
                text-decoration: none;
                color: #686868;
            }
        }

        .aboutTitle{
            color: white;
        }

        .resumeTitle{
            color: white;
        }

        .projectsTitle{
            color: white;
        }
    }
}