.headerMain {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/purpleBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    color: #006E90;
    justify-content: space-between;
    
    .headerDiv {
        display: flex;
        justify-content: space-between;
    }

    div{
        font-size: clamp(4rem, 3.667rem + 1.481vw, 5rem);
    }

    .titleInitials{
        margin-left: clamp(0.8rem, 0.667rem + 0.593vw, 1.2rem);
    }

    ul{
        font-size: clamp(1.2rem, 1.1rem + 0.444vw, 1.5rem);
        font-weight: 800;
        list-style: none;
        color: #686868;
        text-align: right;
        margin-right: clamp(0.8rem, 0.667rem + 0.593vw, 1.2rem);

        li{
            a{
                text-decoration: none;
                color: #686868;
            }
        }

        .aboutTitle{
            color: white;
        }

        .resumeTitle{
            color: white;
        }

        .projectsTitle{
            color: white;
        }
    }
}