@import './partials/header';

body {
    background-color: #1C0028;

    main{
        width: 100%;
        .image-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}